<p-listbox
  [options]="paymentMethods()"
  [(ngModel)]="selectedPaymentMethod"
  dataKey="method"
  class="w-full border-0! mb-7"
>
  <ng-template #item let-item>
    <div class="w-100 text-center gap-2 p-2">
      <div class="w-50 m-auto">
        <img [src]="item.imgSrc" class="w-full" />
      </div>
      <h5 class="title text-2xl font-bold mb-2">
        {{ 'checkout.payment-methods.' + item.title | translate }}
      </h5>
      <h6 class="sub-title text-sm text-muted-color">
        {{ 'checkout.payment-methods.' + item.subTitle | translate }}
      </h6>
    </div>
  </ng-template>
</p-listbox>
