<div class="container m-auto my-20 mb-40 px-7 lg:px-0">
  <div class="products-layout">
    <aside class="products-sidebar">
      <app-filters-sidebar></app-filters-sidebar>
    </aside>

    <div class="products-content">
      @if (isLoading()) {
        <div class="loading">Loading...</div>
      } @else {
        <div class="products-grid">
          @for (product of filteredProducts(); track product.id) {
            <lib-product-card
              [productId]="product.id"
              [imageUrl]="product.cover"
              [title]="product.title"
              [price]="+product.price"
              [discountType]="product.discountType"
              [discountValue]="product.discountValue"
              [rating]="product.rating"
              [badge]="product.tags || []"
              [isFavorite]="true"
              (favoriteToggle)="logFavoriteToggle($event)"
              (addToCart)="addToCart($event.toString())"
              (cardClick)="logCardClick($event)"
            />
          }
        </div>

        <!-- paginator -->
        <div class="flex justify-center mt-20">
            <lib-paginator
                [pagination]="paginator()"
                (pageChange)="onPageChange($event)"
            ></lib-paginator>
        </div>
      }
    </div>
  </div>
</div>
