<div>
  <!-- Header -->
  <div class="flex sm:items-center justify-between gap-4 mb-6 sm:mb-8">
    <div class="flex items-baseline gap-3">
      <h1 class="text-3xl sm:text-4xl md:text-5xl dark:text-zinc-50 font-bold text-zinc-800 leading-none">
        {{ isDirRtl() ? 'سلة المشترايات' : 'Cart' }}
      </h1>
      <span class="font-medium text-zinc-400 text-sm sm:text-base">
        {{ cartItems().length }} {{ isDirRtl() ? 'منتجات' : 'products' }}
      </span>
    </div>

    @if (cartItems().length !== 0) {
      <lib-button
        [text]="isDirRtl() ? 'أفرغ سلة المشتريات' : 'Clear Cart'"
        [iconLucide]="{
          name: icons.BrushCleaning,
          size: '20px'
        }"
        styleClass="inline-flex items-center gap-1.5 shrink-0 rounded-[10px] bg-[#FBEAEA] dark:bg-zinc-700 px-4 py-2.5 text-sm font-medium text-primary transition cursor-pointer hover:opacity-85"
        (onClick)="clearCart()"
      ></lib-button>
    }
  </div>

  <!-- Cart List Section -->
  <section
    class="border border-zinc-200 dark:border-zinc-700 rounded-xl p-4 sm:p-5 overflow-hidden transition-all"
    [class.min-h-[350px]]="cartItems().length === 0"
  >
    @if (cartItems().length === 0) {
      <div class="flex flex-col items-center justify-center h-full min-h-75 text-center gap-3">
        <img width="200" class="sm:w-62.5 object-contain" src="assets/imgs/empty-cart.png" alt="The cart is empty." />
        <p class="text-zinc-400 text-base sm:text-lg">
          {{ isDirRtl() ? 'سلة المشتريات فارغة، هل تريد بدء التسوق؟' : 'Your cart is empty, wanna try shopping?' }}
        </p>
      </div>
    }
    @for (item of cartItems(); track item.id; let last = $last) {
      <app-cart-item-card
        [item]="item"
        (remove)="onRemoveItem($event)"
        (increaseQuantity)="onIncreaseQuantity($event)"
        (decreaseQuantity)="onDecreaseQuantity($event)"
        [removeLoading]="removeLoading() === item.id"
        [removeDisabled]="removeLoading() !== null"
      />
      @if (!last) {
        <app-sp-line lightColor="border-zinc-200" darkColor="border-zinc-600"></app-sp-line>
      }
    }
  </section>

  <!-- Continue Shopping -->
  <div class="mt-8 sm:mt-12">
    <a
      routerLink="/products"
      class="inline-flex items-center gap-2.5 rounded-[10px] bg-primary py-2.5 px-4 text-sm font-semibold text-white dark:text-zinc-900 transition-opacity hover:opacity-90"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-left"
        aria-hidden="true"
      >
        <path d="m12 19-7-7 7-7" />
        <path d="M19 12H5" />
      </svg>
      <span>{{ isDirRtl() ? 'أكمل التسوق' : 'Continue Shopping' }}</span>
    </a>
  </div>
</div>