<div class="input-test">
  <h1>InputComponent Test</h1>

  <form [formGroup]="form">
    <lib-input
      formControlName="username"
      label="Username"
      placeholder="Enter your username"
    />
  </form>

  <div class="input-test__actions">
    <button type="button" (click)="setValue()">Set Value</button>
    <button type="button" (click)="toggleDisable()">Toggle Disable</button>
    <button type="button" (click)="resetForm()">Reset Form</button>
  </div>

  <div class="input-test__status">
    <p>Value: {{ form.get('username')?.value }}</p>
    <p>Invalid: {{ form.get('username')?.invalid }}</p>
  </div>
</div>
