<section>
  <header class="mb-9 text-zinc-800">
    <h2 class="text-2xl font-semibold mb-1">Create a new password</h2>
    <p class="mb-4">Set a strong password to secure your account.</p>
    <app-sp-line></app-sp-line>
  </header>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="">
    <div class="space-y-4 mb-9">
      <div class="space-y-1.5">
        <!-- <label for="" class="block"></label> -->
        <!-- <p-password
          placeholder=""
          [feedback]="false"
          styleClass="w-full"
          inputStyleClass="w-full"
          [(ngModel)]="value"
          [toggleMask]="true"
          autocomplete="off"
          name="password"
        /> -->
        <lib-input
          label="Password"
          labelForAndInputId="password"
          placeholder="********"
          formControlName="newPassword"
          inputType="password"
        ></lib-input>
      </div>
      <div class="space-y-1.5">
        <!-- <label for="confirm-password" class="block">Confirm Password</label>
        <p-password
          placeholder="********"
          [feedback]="false"
          styleClass="w-full"
          inputStyleClass="w-full"
          [(ngModel)]="value"
          [toggleMask]="true"
          autocomplete="off"
          name="confirm-password"
        /> -->
        <lib-input
          label="Confirm Password"
          labelForAndInputId="confirmPassword"
          placeholder="********"
          formControlName="confirmPassword"
          inputType="password"
        ></lib-input>
      </div>
    </div>
    <div class="mb-9">
      <lib-button
        [loading]="isLoading()"
        text="Reset Password"
        styleClass="bg-[#A6252A] text-white font-medium w-full py-3.5 px-4 rounded-[10px] cursor-pointer"
        [disabled]="resetPasswordForm.invalid"
      ></lib-button>
    </div>
    <div class="text-center">
      <app-sp-line></app-sp-line>
      <p class="mt-5 text-sm font-medium text-zinc-800">
        Need help? <a class="text-[#741C21]" href="">Contact us</a>
      </p>
    </div>
  </form>
</section>
