<section>
  <header class="mb-9 text-zinc-800 dark:text-zinc-50">
    <h2 class="text-2xl font-semibold mb-1">Create a new password</h2>
    <p class="mb-4">Set a strong password to secure your account.</p>
    <app-sp-line></app-sp-line>
  </header>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="">
    <div class="space-y-4 mb-9">
      <div class="space-y-1.5">
        <lib-input
          label="Password"
          inputId="password"
          placeholder="********"
          formControlName="newPassword"
          [errorMessage]="passwordError"
          type="password"
        ></lib-input>
      </div>
      <div class="space-y-1.5">
        <lib-input
          label="Confirm Password"
          inputId="confirmPassword"
          placeholder="********"
          formControlName="confirmPassword"
          inputType="password"
        ></lib-input>
      </div>
    </div>
    <div class="mb-9">
      <lib-button
        type="submit"
        [loading]="isLoading()"
        text="Reset Password"
        styleClass="bg-primary text-white font-medium w-full py-3.5 px-4 rounded-[10px] cursor-pointer"
        [disabled]="resetPasswordForm.invalid || isLoading()"
        [loading]="isLoading()"
      ></lib-button>
    </div>
    <div class="text-center">
      <app-sp-line></app-sp-line>
      <p class="mt-5 text-sm font-medium text-zinc-800 dark:text-primary">
        Need help? <a class="text-primary" href="">Contact us</a>
      </p>
    </div>
  </form>
</section>
