<form [formGroup]="form" (ngSubmit)="save()">
  <!-- Current Password -->
  <div class="mb-2.5">
    <lib-input
      [label]="'account-settings.change_password.current password' | translate"
      type="password"
      inputId="currentPassword"
      placeholder="********"
      formControlName="currentPassword"
      [valid]="
        form.get('currentPassword')?.touched! && form.get('currentPassword')?.hasError('required')!
      "
      [customErrorMessages]="{
        required: 'common.validation.PASSWORD_REQ_ERROR',
      }"
    ></lib-input>
  </div>

  <!-- Separator Line -->
  <div class="mb-2.5 py-4">
    <app-sp-line lightColor="border-zinc-200" darkColor="border-zinc-950"></app-sp-line>
  </div>

    <div class="mb-4">
        <lib-input
            [label]="'account-settings.change_password.new password' | translate"
            type="password"
            inputId="mewPassword"
            placeholder="********"
            formControlName="newPassword"
            [valid]="form.get('newPassword')?.touched! && (form.get('newPassword')?.hasError('required')! || form.get('newPassword')?.hasError('pattern')!)"
            [customErrorMessages]="{
                required: 'common.validation.PASSWORD_REQ_ERROR',
                pattern: 'common.validation.PASSWORD_PATTERN_ERROR',
            }"
        ></lib-input>
        
        @if (form.get('newPassword')?.touched! && form.get('newPassword')?.hasError('pattern')!) {
            <div class=" text-[#d32f2f] text-xs sm:text-sm bg-red-50/60 dark:bg-red-950/30 p-3 sm:p-4 rounded-xl border border-red-100 dark:border-red-900/40">
                <ul class="list-disc ps-9">
                    <li>{{'common.validation.PASSWORD_PATTERN_ERRORS.8 or more characters' | translate}}</li>
                    <li>{{'common.validation.PASSWORD_PATTERN_ERRORS.At least one uppercase letter A-Z' | translate}}</li>
                    <li>{{'common.validation.PASSWORD_PATTERN_ERRORS.At least one lowercase letter a-z' | translate}}</li>
                    <li>{{'common.validation.PASSWORD_PATTERN_ERRORS.At least one number 0-9' | translate}}</li>
                    <li>{{'common.validation.PASSWORD_PATTERN_ERRORS.At least one special character like' | translate}}</li>
                </ul>
            </div>
        }
    </div>

    
  </div>

  <!-- Confirm New Password -->
  <div class="mb-4">
    <lib-input
      [label]="'account-settings.change_password.confirm new password' | translate"
      type="password"
      inputId="confirmPassword"
      placeholder="********"
      formControlName="confirmPassword"
      [valid]="
        form.get('confirmPassword')?.touched! &&
        (form.get('confirmPassword')?.hasError('required')! ||
          form.get('confirmPassword')?.hasError('passwordMismatch')!)
      "
      [customErrorMessages]="{
        required: 'common.validation.PASSWORD_REQ_ERROR',
        passwordMismatch: 'common.validation.passwordMismatch',
      }"
    ></lib-input>
  </div>

  <!-- Submit Button -->
  <div class="flex justify-end pt-6 sm:pt-8">
    <lib-button
      type="submit"
      [text]="'account-settings.change_password.title' | translate"
      [loading]="formSubmited()"
      [disabled]="formSubmited() || form.invalid"
      styleClass="bg-primary text-white py-2 px-8 sm:px-10 rounded-[10px] dark:text-zinc-900 font-medium ms-auto mt-12"
    ></lib-button>
  </div>
</form>