<form [formGroup]="form" (ngSubmit)="save()">
    <div class="mb-4">
        <lib-input
            [label]="'profile.change_password.current password' | translate"
            type="password"
            inputId="currentPassword"
            placeholder="********"
            formControlName="currentPassword"
            
            [valid]="form.get('currentPassword')?.touched! && form.get('currentPassword')?.hasError('required')!"
            [customErrorMessages]="{
                required: 'common.validation.PASSWORD_REQ_ERROR',
            }"
        ></lib-input>
    </div>

    <div class="mb-4">
        <app-sp-line></app-sp-line>
    </div>

    <div class="mb-4">
        <lib-input
            [label]="'profile.change_password.new password' | translate"
            type="password"
            inputId="mewPassword"
            placeholder="********"
            formControlName="newPassword"
            [valid]="form.get('newPassword')?.touched! && (form.get('newPassword')?.hasError('required')! || form.get('newPassword')?.hasError('pattern')!)"
            [customErrorMessages]="{
                required: 'common.validation.PASSWORD_REQ_ERROR',
                pattern: 'common.validation.PASSWORD_PATTERN_ERROR',
            }"
        ></lib-input>
        
        @if (form.get('newPassword')?.touched! && form.get('newPassword')?.hasError('pattern')!) {
            <div class=" text-[#d32f2f] text-sm">
                <ul class="list-disc ps-9">
                    <li>{{'common.validation.PASSWORD_PATTERN_ERRORS.8 or more characters' | translate}}</li>
                    <li>{{'common.validation.PASSWORD_PATTERN_ERRORS.At least one uppercase letter A-Z' | translate}}</li>
                    <li>{{'common.validation.PASSWORD_PATTERN_ERRORS.At least one lowercase letter a-z' | translate}}</li>
                    <li>{{'common.validation.PASSWORD_PATTERN_ERRORS.At least one number 0-9' | translate}}</li>
                    <li>{{'common.validation.PASSWORD_PATTERN_ERRORS.At least one special character like' | translate}}</li>
                </ul>
            </div>
        }
    </div>

    <div class="mb-4">
        <lib-input
            [label]="'profile.change_password.confirm new password' | translate"
            type="password"
            inputId="confirmPassword"
            placeholder="********"
            formControlName="confirmPassword"
            [valid]="form.get('confirmPassword')?.touched! && (form.get('confirmPassword')?.hasError('required')! || form.get('confirmPassword')?.hasError('passwordMismatch')!)"
            [customErrorMessages]="{
                required: 'common.validation.passwordMismatch',
            }"
        ></lib-input>
    </div>


    <lib-button
        type="submit"
        text="{{'profile.change_password.change password' | translate}}"
        [loading]="formSubmited()"
        [disabled]="formSubmited()"
        styleClass="bg-primary text-white py-2 px-10 rounded-[10px] dark:text-zinc-900 font-medium ms-auto mt-12"
    ></lib-button>
</form>