.bg-dark {
    background: #27272A;
}

.dark {
    .bg-dark {
        background: #18181B !important;
    }
}

*:disabled {
    border-color: transparent !important;
}

.p-dialog-header {
    padding: 0 !important;

    .p-dialog-header-actions{
        display: none;
    }
}