<section class="about-us" aria-labelledby="about-us-heading">
  <div class="about-us__container">
    <div class="about-us__layout">
      <figure class="about-us__media">
        <img
          class="about-us__image"
          src="assets/imgs/about-us.png"
          [attr.alt]="'home.aboutUs.imageAlt' | translate"
          width="640"
          height="720"
          loading="lazy"
        />
      </figure>

      <div class="about-us__content">
        <p class="about-us__label">{{ 'home.aboutUs.label' | translate }}</p>

        <h2 id="about-us-heading" class="about-us__heading"
            [innerHTML]="'home.aboutUs.heading' | translate">
        </h2>

        <p class="about-us__description">
          {{ 'home.aboutUs.description' | translate }}
        </p>

        <button type="button" class="about-us__cta">
          {{ 'home.aboutUs.cta' | translate }}
          <span aria-hidden="true">&rarr;</span>
        </button>

        <div class="about-us__checklist" [attr.aria-label]="'home.aboutUs.checklistLabel' | translate">
          <ul class="about-us__checklist-column">
            @for (item of leftChecklist; track item.id) {
              <li class="about-us__checklist-item">
                <lucide-angular
                  [name]="icons.Check"
                  class="about-us__check-icon"
                  strokeWidth="2.5px"
                  aria-hidden="true"
                ></lucide-angular>
                <span>{{ item.labelKey | translate }}</span>
              </li>
            }
          </ul>

          <ul class="about-us__checklist-column">
            @for (item of rightChecklist; track item.id) {
              <li class="about-us__checklist-item">
                <lucide-angular
                  [name]="icons.Check"
                  class="about-us__check-icon"
                  strokeWidth="2.5px"
                  aria-hidden="true"
                ></lucide-angular>
                <span>{{ item.labelKey | translate }}</span>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
