<form class="space-y-4" [formGroup]="profileForm" (submit)="saveChanges()" (input)="prepareData()">
  <!-- Profile Picture -->
  <div class="flex items-center gap-4">
    <div class="w-30 h-30 relative">
      <img
        class="w-full h-full object-cover rounded-full"
        [src]="uploadedImageUrl()"
        [alt]="profileData()?.firstName + ' ' + profileData()?.lastName + ' profile picture'"
      />
      <label
        for="profile-image"
        class="absolute cursor-pointer right-0 bottom-0 w-8.5 h-8.5 rounded-full border-zinc-200 border bg-zinc-50 dark:bg-zinc-600 flex items-center justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-cloud-upload-icon lucide-cloud-upload"
        >
          <path d="M12 13v8" />
          <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242" />
          <path d="m8 17 4-4 4 4" />
        </svg>
        <input id="profile-image" class="hidden" type="file" (input)="onFileSelected($event)" />
      </label>
    </div>
    <div>
      <p class="mb-4 text-xl font-semibold text-zinc-800 dark:text-zinc-100">
        {{ 'account-settings.profile.upload-photo' | translate }}
      </p>
      <p class="mb-4 text-zinc-500 dark:text-zinc-400">
        {{ 'account-settings.profile.upload-desc' | translate }}
      </p>
    </div>
  </div>
  <!--  -->
  <div class="flex flex-col gap-2.5">
    <div class="flex items-center justify-stretch gap-5">
      <div class="w-full">
        <lib-input
          placeholder="First Name"
          formControlName="firstName"
          [label]="'auth.firstName' | translate"
          type="text"
          id="p-firstName"
        ></lib-input>
      </div>
      <div class="w-full">
        <lib-input
          placeholder="Last Name"
          formControlName="lastName"
          [label]="'auth.lastName' | translate"
          type="text"
          id="p-lastName"
        ></lib-input>
      </div>
    </div>
    <div class="relative">
      @if (!openEmailForChange()) {
        <lib-button
          (onClick)="onEditEmailBtnClick()"
          styleClass="absolute end-0 font-semibold"
          [text]="'common.actions.edit' | translate"
        ></lib-button>
      } @else {
        <lib-button
          (onClick)="onRequestCodeBtnClick()"
          [disabled]="!isEmailControlValid()"
          styleClass="absolute end-0 font-semibold"
          [text]="'account-settings.profile.request-code' | translate"
        ></lib-button>
      }
      <lib-input
        (onInput)="onEmailControlInput()"
        placeholder="Email"
        formControlName="email"
        [label]="'auth.email' | translate"
        type="email"
        id="p-email"
      ></lib-input>
    </div>
    @if (openCodeInput()) {
      <div class="relative">
        <lib-button
          (onClick)="onConfrimEmailBtnClick()"
          [disabled]="codeControl.invalid"
          styleClass="absolute end-0 font-semibold"
          [text]="'account-settings.profile.confirm' | translate"
        ></lib-button>
        <lib-input
          placeholder="Enter the code"
          label="Code"
          type="number"
          id="p-code"
          [formControl]="codeControl"
        ></lib-input>
      </div>
    }
    <div class="">
      <lib-phone-input
        formControlName="phone"
        id="p-phone"
        label="Phone"
        formControlName="phone"
      ></lib-phone-input>
      @if (profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched) {
        <p class="text-[#d32f2f] text-[13px] mt-1.5">
          phone must be at least 2 numbers and shouldn't start with 0
        </p>
      }
    </div>
    <div>
      <label for="register-gender" class="block mb-1.5 dark:text-white! capitalize">
        {{ 'auth.gender' | translate }}
      </label>
      <lib-input
        placeholder="Gender"
        id="p-gender"
        formControlName="gender"
        styleClass="bg-zinc-100 dark:bg-zink-700"
      ></lib-input>
    </div>
    <div class="flex justify-between pt-15">
      <lib-button
        (onClick)="onDeleteAccountBtnClick()"
        [text]="'common.actions.delete-my-account' | translate"
        styleClass="text-[#CD2E33] dark:text-[#EF4444]"
      ></lib-button>
      <lib-button
        [disabled]="!isFormValid()"
        type="submit"
        [text]="'common.actions.save-changes' | translate"
        styleClass="bg-primary text-white py-3.5 px-10 rounded-[10px] dark:text-zinc-900 font-medium"
      ></lib-button>
    </div>
  </div>
</form>
