<section>
  <h2 class="text-3xl font-bold mb-4 dark:text-zinc-50">Password Reset Sent</h2>
  <div class="">
    <p class="text-zinc-800 dark:text-zinc-50">
      We have sent a password reset link to: <br />
      <span class="font-semibold dark:text-zinc-50">{{ userEmail() }}. </span>
      <span (click)="goBackToEmail()" class="text-blue-600 cursor-pointer underline">Edit</span>
    </p>
    <br />
    <p class="text-zinc-800 dark:text-zinc-50">
      Please check your inbox and follow the instructions to reset your password.
    </p>
    <br />
    <p class="text-gray-500 dark:text-zinc-50">
       If you don’t see the email within a few minutes, check your spam or junk folder.
      <br />
      or
      <button class="cursor-pointer font-medium text-gray-700 hover:underline dark:text-zinc-100">
        Send a new link
      </button>
    </p>
  </div>
  <div class="mt-10">
    <p class="text-sm text-gray-500 font-medium dark:text-zinc-50">
      Don’t have an account?
      <a routerLink="/auth/register" class="text-blue-600">Create yours</a>
    </p>
  </div>
</section>
