<aside class="h-fit xl:sticky xl:top-8 space-y-6">
  <h2 class="text-2xl font-bold text-zinc-800 dark:text-white">{{ isDirRtl() ? 'ملخص' : 'Summary' }}</h2>
  <div class="bg-zinc-50 dark:bg-zinc-700 p-4 rounded-lg">
    <div class="flex flex-col gap-3 sm:flex-row sm:items-stretch">
      <lib-input class="w-full" placeholder="Coupon Code"></lib-input>
      <button
        type="button"
        class="inline-flex h-11 sm:h-auto shrink-0 items-center justify-center gap-2 rounded-lg bg-primary px-5 text-sm font-semibold text-white dark:text-zinc-800 transition-opacity hover:opacity-90 cursor-pointer"
        [class.flex-row-reverse]="isDirRtl()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-ticket-percent-icon lucide-ticket-percent"
        >
          <path
            d="M2 9a3 3 0 1 1 0 6v2a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-2a3 3 0 1 1 0-6V7a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2Z"
          />
          <path d="M9 9h.01" />
          <path d="m15 9-6 6" />
          <path d="M15 15h.01" />
        </svg>
        {{ isDirRtl() ? 'استخدم القسيمة' : 'Apply Coupon' }}
      </button>
    </div>

    <div class="mt-3 rounded-lg border border-zinc-300 px-4 py-3 text-sm text-zinc-400 h-65 flex justify-center items-center">
      No coupons applied
    </div>

    <div class="p-2.5 space-y-4">
      <div class="flex items-center justify-between text-base">
        <span class="text-zinc-800 dark:text-zinc-50 font-medium text-lg">{{
          isDirRtl() ? 'المجموع قبل الخصم' : 'Subtotal'
        }}</span>
        <span class="font-semibold text-xl text-zinc-800 dark:text-zinc-50"
          >{{ subtotal() | number: '1.2-2' }} EGP</span
        >
      </div>
      <div>
        <app-sp-line lightColor="border-zinc-300" darkColor="border-zinc-500"></app-sp-line>
      </div>
      <div class="flex items-center justify-between text-lg">
        <span class="font-bold text-primary text-2xl">{{ isDirRtl() ? 'الإجمالي' : 'Total' }}</span>
        <span class="font-bold text-primary text-2xl">{{ total() | number: '1.2-2' }} EGP</span>
      </div>
    </div>
  </div>

  @if(!currentStep()) {
    <lib-button
      routerLink="/purchase/checkout"
      type="button"
      [text]="isDirRtl() ? 'ادفع' : 'Checkout'"
      [iconPrimeNg]="isDirRtl() ? 'pi-arrow-left' : 'pi-arrow-right'"
      styleClass="bg-primary text-white dark:text-zinc-900 w-full rounded-[10px] text-xl font-medium py-2.5 px-4"
    ></lib-button>
  }
</aside>
