<section class="container m-auto text-center my-5 px-3 lg:px-0">
    <h3 class="uppercase tracking-widest font-bold text-[#FF668B] dark:text-[#741C21]">Gallery</h3>

    <!-- head title -->
    <h2></h2>

    <div class="grid grid-cols-2 lg:grid-cols-3 grid-rows-12 gap-3 mt-5 h-[90vh]">
        @for (item of galleryItems(); track $index) {
            <div 
                class="img-container"
                [ngClass]="item.class"
                [style.background-image]="'url(' + item.img + ')'">
            </div>
        }
    </div>

</section>