<section class="container m-auto text-center my-5 px-3 lg:px-0">
    <h3 class="uppercase tracking-widest font-bold text-[#FF668B] dark:text-[#741C21]">Gallery</h3>

    <!-- head title -->
    <h2></h2>

    <div class="grid grid-cols-2 lg:grid-cols-3 grid-rows-12 gap-3 mt-5 h-[90vh]">
        <div class="img-container row-span-8" style="background-image: url(assets/imgs/gallery/g-1.png);"></div>
        <div class="img-container row-span-4" style="background-image: url(assets/imgs/gallery/g-6.png);"></div>
        <div class="img-container row-span-4" style="background-image: url(assets/imgs/gallery/g-5.png);"></div>

        <div class="img-container row-span-4 lg:row-span-8" style="background-image: url(assets/imgs/gallery/g-3.png);"></div>
        <div class="img-container row-span-20 lg:row-span-8" style="background-image: url(assets/imgs/gallery/g-4.png);"></div>
        <div class="img-container row-span-16 lg:row-span-4" style="background-image: url(assets/imgs/gallery/g-2.png);"></div>
    </div>

</section>