<div class="lib-input relative">

<h2 class="font-edwardian text-center text-primary text-5xl mb-4">Welcome back!</h2>
<app-sp-line></app-sp-line>

<form class="mt-7" [formGroup]="form" (ngSubmit)="login()">
    <div class="mb-4">
        <lib-input
            [label]="'auth.username' | translate"
            type="text"
            inputId="username"
            placeholder="user@123"
            formControlName="username"
            [valid]="form.get('username')?.touched! && form.get('username')?.hasError('required')!"
            [customErrorMessages]="{
            required: 'common.validation.USERNAME_REQ_ERROR',
          }"
        ></lib-input>
    </div>

    <div class="">
        <lib-input
            [label]="'auth.password' | translate"
            type="password"
            inputId="password"
            placeholder="********"
            formControlName="password"
            [valid]="form.get('password')?.touched! && form.get('password')?.hasError('required')!"
            [customErrorMessages]="{
            required: 'common.validation.PASSWORD_REQ_ERROR',
          }"
        ></lib-input>
    </div>


    <div class="flex justify-end mt-1">
        <a routerLink="/forgot-pass" class="text-primary font-bold">{{'auth.forgot your password?' | translate}}</a>
    </div>

    <div class="flex items-center gap-1">
        <p-checkbox inputId="rememberMe" formControlName="rememberMe" [binary]="true" checkbox.root.borderRadius="50rem"/>
        <label for="rememberMe" class="ms-2">{{'auth.Remember me' | translate}}</label>
    </div>

    <lib-button
        type="submit"
        [text]="'auth.login' | translate"
        styleClass="bg-primary mt-7 rounded-lg p-2 text-white w-full"
        [disabled]="form.invalid"
        [loading]="formSubmited()"
    ></lib-button>

</form>


<div class="mt-7">
    <app-sp-line></app-sp-line>
</div>

<p class="text-center my-7">
    {{'auth.don’t have an account yet?' | translate}} 
    <a routerLink="/register" class="text-primary font-bold">{{'auth.create one now!' | translate}}</a>
</p>