<div class="lib-input relative">

    @if (label) {
      <label [for]="inputId" class="lib-input__label dark:text-white! capitalize">
        {{ label }}
      </label>
    }
  
    <input
      pInputText
      [id]="inputId"
      [class]="styleClass"
      [type]="resolvedType"
      [placeholder]="placeholder"
      [value]="value()"
      [disabled]="isDisabled()"
      [style.padding-inline-end]="type === 'password' ? '3rem' : null"
      (input)="onInput($event)"
      (blur)="onBlur()"
    />
  
    @if (type === 'password') {
      <button
        type="button"
        class="btn-show bg-transparent p-2 cursor-pointer"
        [attr.aria-label]="isPasswordVisible() ? 'Hide password' : 'Show password'"
        (click)="togglePasswordVisibility()"
      >
        @if (isPasswordVisible()) {
          <lucide-angular [img]="Eye" class="opacity-75" strokeWidth="1.5"></lucide-angular>
        } @else {
          <lucide-angular [img]="EyeOff" class="opacity-75" strokeWidth="1.5"></lucide-angular>
        }
      </button>
    }
  
    @if (errorMessage) {
      <p class="lib-input__error" role="alert">{{ errorMessage }}</p>
    }
  
  </div>