<div class="container mx-auto my-20 px-3 lg:px-0">
  <div
    class="flex flex-row justify-around gap-4 h-[20vh] items-center bg-[#FBEAEA] dark:bg-[#3F3F46] rounded-xl"
  >
    <app-icon-label
      icon="truck"
      [title]="isDirRtl() ? 'توصيل مجانا' : 'Free Delivery'"
      [subTitle]="isDirRtl() ? 'للطلبات التي تزيد قيمتها عن 1200 جنيه مصري' : 'For orders above 1,200 EGP'"
      iconType="lucide"
    ></app-icon-label>

    <app-icon-label
      icon="refresh-ccw"
      [title]="isDirRtl() ? 'استرداد المبلغ' : 'Get Refund'"
      [subTitle]="isDirRtl() ? 'استرداد الأموال خلال 30 يومًا' : 'Refunds within 30 days'"
      iconType="lucide"
    ></app-icon-label>
    <app-icon-label
      icon="shield-check"
      [title]="isDirRtl() ? 'الدفع الآمن' : 'Safe Payment'"
      [subTitle]="isDirRtl() ? 'دفع آمن بنسبة 100%' : '100% Secure Payment'"
      iconType="lucide"
    ></app-icon-label>
    <app-icon-label
      icon="headset"
      [title]="isDirRtl() ? 'التسليم مجانا' : 'Free Delivery'"
      [subTitle]="isDirRtl() ? 'تواصل معنا في أي وقت' : 'Contact us at any time'"
      iconType="lucide"
    ></app-icon-label>
  </div>
</div>
