<div class="max-w-[90vw] mx-auto my-20">
  <div
    class="flex flex-row justify-around gap-4 h-[20vh] items-center bg-[#FBEAEA] dark:bg-[#3F3F46] rounded-xl"
  >
    <app-icon-label
      icon="truck"
      title="Free Delivery"
      subTitle="For orders above 1,200 EGP"
      iconType="lucide"
    ></app-icon-label>

    <app-icon-label
      icon="refresh-ccw"
      title="Title"
      subTitle="Subtitle"
      iconType="lucide"
    ></app-icon-label>
    <app-icon-label
      icon="shield-check"
      title="Safe Payment"
      subTitle="100% Secure Payment"
      iconType="lucide"
    ></app-icon-label>
    <app-icon-label
      icon="headset"
      title="24/7 Support"
      subTitle="Contact us at any time"
      iconType="lucide"
    ></app-icon-label>
  </div>
</div>
