<section class="">
  @if (currentState() == 'email') {
    <app-send-email
      [isLoading]="sendEmailLoading()"
      (emailSubmitted)="onEmailSubmit($event)"
    ></app-send-email>
  }
  @if (currentState() == 'verification') {
    <app-confirm-email (state)="onVerificationStateChanged($event)" [userEmail]="userEmail()"></app-confirm-email>
  }
  @if (currentState() == 'password') {
    <app-reset-password
      [isLoading]="resetPasswordLoading()"
      (passwordChanged)="onPasswordSubmit($event)"
    ></app-reset-password>
  }
</section>
